.comics {
    display: block;
    position: relative;
    max-width: 1200px;
    max-height: 100vh;
    margin: auto;
}

.page {
    position: absolute;
}

.comics .page img {
    position: absolute;
    display: block;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.previous__page, .next__page {
    display: block;
    height: 100%;
    background-image: url('../../img/arrow/arrows.png');
    position: absolute;
    width: 22px;
    z-index: 100;
    background-repeat: no-repeat;
    opacity: 0;
}

.previous__page {
    background-position: -4px 50%;
    left: -22px;
}

.next__page {
    background-position: -38px 50%;
    right: -22px;
}

.previous__page:hover, .next__page:hover {
    display: block;
    opacity: 1;
    cursor: pointer;
}
