#ethmen .products {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: white;
    padding: 3rem 0;
}

#ethmen .products .splide .splide__slide {
    text-align: center;
    padding: 3.5rem 2rem;
    margin: 2rem 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    list-style-type: none!important;
    flex-shrink: 0;
    position: relative;
    outline: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#ethmen .products .splide ul h3 {
    font-size: 2rem;
}
#ethmen .products .splide ul h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    transform: translateY(-10px);
    text-transform: uppercase;
}

.ETHMEN_3D {
    background-color: #d4ea91;
}

.ETHMEN_Store {
    background-color: #498428;}

.ETHMEN_Exclusive {
    background-color: #143309;
}

.Reavers_Collection {
    background-color: #38452d;
}

.ETHMEN_Legacy {
    background-color: #498428;
}

.ETHMEN_Reloaded {
    background-color: #d4ea91;
}
.ETHMEN_Avatars {
    background-color: #38452d;
}

.ETHMEN_Comic {
    background-color: #d4ea91;
}

.ETHMEN_Comic_unsealed {
    background-color: #143309;
}

@media only screen and (max-width: 766px) {
    #ethmen .products .splide .splide__slide {
        margin: 0;
    }
}