#ethmen .catalogue {
    background-color: #f3efe0;
    padding: 3rem;
    background-image: url("../../img/wiki/comic_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: #494949 !important;
}

#ethmen .catalogue #ethmen-catalogue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#ethmen .catalogue #ethmen-catalogue .catalogue__category ul li {
    white-space: nowrap;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc(25% - 1rem);
    flex-basis: calc(25% - 1rem);
    min-width: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content .item .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 150px;
    cursor: pointer;
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content .item .name {
    text-align: center;
    margin-top: 0.5rem;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content .item .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content .item .links a {
    color: #494949;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.7rem;
    padding: 0.4rem 0.2rem;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    text-align: center;
    margin-top: 2px;
    margin-right: 2px;
    text-transform: uppercase;
    line-height: 1.3;
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content .item .links a img {
    max-width: 1.5rem;
    margin: 2px auto;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

#ethmen .catalogue #ethmen-catalogue .catalogue__category ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content .links a:hover {
    color: #494949;
    background-color: rgba(0, 0, 0, 0.1);
}

#ethmen .catalogue #ethmen-catalogue .catalogue__content .links a:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 1425px) {
    #ethmen .catalogue #ethmen-catalogue {
        font-size: 0.8rem;
    }

    #ethmen .catalogue #ethmen-catalogue .catalogue__content .item {
        -ms-flex-preferred-size: calc(33% - 1rem);
        flex-basis: calc(33% - 1rem);
    }

}

@media only screen and (max-width: 767px) {
    #ethmen .catalogue #ethmen-catalogue {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #ethmen .catalogue #ethmen-catalogue .catalogue__content .item {
        flex-basis: calc(50% - 0.5rem);
        margin: 1rem 0.5rem 0 0;
    }
}
